/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}

.jfx-list-cell:selected {
    -fx-background-color: #3d8c91;
}
.jfx-list-cell:hover {
    -fx-background-color: #1bd79c;
}
.jfx-list-cell {
    -fx-background-insets: 0.0;
}
.jfx-list-cell .jfx-rippler {
    -fx-rippler-fill:BLUE;
}

.jfx-list-view {
    -fx-background-insets: 0;
    -fx-cell-vertical-margin: 10.0;
    -fx-vertical-gap:   10;
}

.list-view {
    -fx-padding: 10px ;
}

.list-cell {
    -fx-padding: 10px ;
    -fx-background-color: transparent, -fx-background ;
    -fx-background-insets: 0px, 2px ;
}

.list-cell:empty {
    -fx-padding: 10px ;
    -fx-background-color: transparent ;
    -fx-background-insets: 0 ;
}




